@import "../../variables";

.css-204u17-MuiDataGrid-main {
    font-family: $main-font;
}

.MuiDataGrid-footerContainer {
    font-family: $main-font
}

.mui-data-grid-blue-button {
    cursor: pointer;
    color: #0047AB;
}

.mui-data-grid-orange-button {
    cursor: pointer;
    color: #F28C28;
}

