@import "../../../variables";

.allMatchedProducts-cards-container {
    @include basic-flex;
    margin-bottom: 12px;
}

.allProducts-controls-container {
    margin-bottom: 12px;
}

.allProducts-regularPrice {
    background-color: #228B22;
    font-weight: 500;
    padding: 6px;
    border-radius: 4px;
    color: white;
}

.allProducts-discountPrice {
    background-color: red;
    font-weight: 500;
    padding: 6px;
    border-radius: 4px;
    color: white;
}

.trackedProducts-header-light-blue {
    background: #d4ebf2;
}

.trackedProducts-header-light-green {
    background: #e5fbe5;
}

.trackedProducts-header-light-orange {
    background: #ffefce;
}

.trackedProducts-header-light-red {
    background: #ffebeb;
}

.trackedProducts-header-light-purple {
    background: #ffe2ff;
}