@import "../../variables";

.header-main-wrapper {
    background-color: $iP-green-color;
    height: 57px;
    padding: 4px 12px;
    border-radius: 8px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0,  0.1);
    @include basic-flex;
}